{sys, [
       {lib_dirs, ["../apps"]},
       {rel, "rio", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         rio
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "rio"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {incl_app_filters, ["^ebin", "^priv"]},
% sys
       {app, sasl        , [{incl_cond, include}]},
       {app, appmon      , [{incl_cond, include}]},
       {app, tv          , [{incl_cond, include}]},
% rui
       {app, rio         , [{incl_cond, include}]}
      ]}.

{target_dir, "rio"}.

{overlay, [
           {copy , "files/erl"             , "{{erts_vsn}}/bin/erl"},
           {copy , "files/nodetool"        , "{{erts_vsn}}/bin/nodetool"},
           {copy , "files/rio"             , "bin/rio"},
           {copy , "files/vm.args"         , "etc/vm.args"},
           {copy , "files/app.config"      , "releases/0.1.0/sys.config"}
          ]}.
